[submodule "vim/.vim-new/vundle"]
	path = vim/.vim-new/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "vim/.vim-new/neobundle.vim.git"]
	path = vim/.vim-new/neobundle.vim.git
	url = https://github.com/Shougo/neobundle.vim
