.vimperator/info
vim/.vim/tmp
.DS_Store
doc/tags
doc/tags-ja
tags
tags-ja
*log
vim/.vim/.netrwhist
vim/.vim/.VimballRecord
vim/.vim/snippets/_.snip
vim/.vim-new/.netrwhist
vim/.vim-new/bundle
vim/.vim-new/vundle/doc/tags
vim/.vim-new/vundle/*
vim/.vim-new/vundle
vim/.vim-new/neobundle.vim
.*.un~
