.vimperator/info
.vim/tmp
.DS_Store
doc/tags
doc/tags-ja
tags
tags-ja
*log
.vim/.netrwhist
.vim/.VimballRecord
.vim/snippets/_.snip
.vim/snippets/_.snippets
.vim/.netrwhist
.vim/bundle
.vim/vundle/doc/tags
.vim/vundle/*
.vim/vundle
.vim/neobundle.vim
.*.un~
